name: build-windows

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: ${{ matrix.config.name }}
    strategy:
      matrix:
        config:
        - {
            name: "windows-2022",
            os: windows-2022,
            generator: "Visual Studio 17 2022"
          }
    runs-on: ${{ matrix.config.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        choco install cmake
        cmake --version

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_TESTING=ON -G "${{ matrix.config.generator }}" -DCMAKE_GENERATOR_PLATFORM=x64 .

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: |
        copy blocc/${{env.BUILD_TYPE}}/blocc*.dll tests/${{env.BUILD_TYPE}}/
        ctest -C ${{env.BUILD_TYPE}}

    - name: CPack
      working-directory: ${{github.workspace}}/build
      run: |
        cpack -C ${{env.BUILD_TYPE}}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bloc-win64.zip
        path: ${{ github.workspace }}/build/bloc-*-win64.zip
        retention-days: 5

